<link rel="stylesheet" href="~/css/epics.css" />

<form asp-controller="Epics" method="post">
    <input type="submit" asp-action="" class="action-button btn btn-lg btn-primary" value="Lägg till" />
    <br />
    <input type="submit" asp-action="" class="action-button btn btn-lg btn-primary" value="Ändra">
    <br />
    <input type="submit" asp-action="" class="action-button btn btn-lg btn-danger" value="Radera">
</form>

<h3>Titel</h3>
<input type="text" />
<br />
<br />
<h3>Brödtext</h3>
<textarea></textarea>