<link rel="stylesheet" href="~/css/epics.css" />

<form asp-controller="Epics" method="post">
    <input type="submit" asp-action="Create" class="action-button btn btn-lg btn-primary" value="Skapa" />
    <br />
    <input type="submit" asp-action="Edit" class="action-button btn btn-lg btn-primary" value="Ändra">
    <br />
    <input type="submit" asp-action="Delete" class="action-button btn btn-lg btn-danger" value="Radera">
</form>